<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
            <img class="logo" src="../../assets/bitcoins.png" alt="">
            <h1 class="text-3xl font-bold nav-title">BITEST</h1>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Statuss</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary-outline" id="sidebarToggle">
                    <mat-icon>apps</mat-icon>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="container-calendar">

                <mat-form-field appearance="fill">
                    <mat-label>Selecciona una fecha</mat-label>

                    <input matInput [matDatepicker]="picker" [formControl]="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year"></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button color="primary" class="btn btn-outline-secondary space-btn-search"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="buscar()">
                    <mat-icon>search</mat-icon>
                </button>
                <!-- modals -->
                <div class="modal" id="exampleModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Ref. </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="target-info-price">
                <mat-card>
                    <div class="contenedor-titulo">

                        <p class="titulo">PRICE TODAY</p>
                    </div>
                </mat-card>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">base</th>
                            <th scope="col">currency</th>
                            <th scope="col">amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>{{valUSD}}</td>
                            <td>{{valUSD}}</td>
                            <td>$ {{valUSD}}</td>
                        </tr> -->

                        <tr *ngFor="let precio of precios; let i = index">
                            <td>{{precio.base}}</td>
                            <td>{{precio.currency}}</td>
                            <td>$ {{precio.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>